body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
  text-align: center;
}
.question {
  margin-bottom: 20px;
}
.options {
  display: flex;
  flex-direction: column;
}
.option {
  margin-bottom: 10px;
}
button {
  padding: 10px;
  border: none;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
button:hover {
  background-color: #45a049;
}

a {
  color: #000;
  /* text-decoration: none; */
}
a:hover {
  color: #333;
}

a:visited {
  color: #000;
  /* text-decoration: none; */
}

.homepage_button {
  position: fixed;
  right: 20px;
  top: 20px;
  padding: 20px;
  background-color: #4CAF50;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.homepage_button a, .homepage_button a:hover {
  color: white;
  text-decoration: none;
}

.homepage_button:hover {
  background-color: #45a049;
}
